body{
  margin:0;

  background:
  linear-gradient(135deg,#023226,#011811);

  min-height:100vh;

  font-family:system-ui;
}

.home-container{

  display:flex;
  justify-content:center;
  align-items:center;

  height:calc(100vh - 80px);
}

.card-container{
  display:flex;
  gap:40px;
}

/* Apple Glass Cards */

.feature-card{

  width:220px;
  height:220px;

  border-radius:20px;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  cursor:pointer;

  background:rgba(255,255,255,0.15);
  backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,0.25);

  box-shadow:
  0 10px 40px rgba(0,0,0,0.3);

  transition:all 0.25s ease;
}

.feature-card:hover{

  transform:translateY(-8px) scale(1.03);
  box-shadow:0 20px 60px rgba(0,0,0,0.35);
}

.feature-card img{
  width:70px;
  margin-bottom:15px;
}

.feature-card h3{
  color:white;
  font-weight:500;
}

.blur-page{
  filter: blur(8px);
  transition: 0.2s ease;
}
.blur-page{
  filter: blur(8px) brightness(0.8);
}